



/*//////////////////////////////////////////////////////////////////*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  
}

/*---------------------------------------------*/
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  margin: 0px;
  text-decoration: none;
}

a:hover {
	text-decoration: none;
  color: #fc00ff;
  border-color: #fc00ff;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #999999;
  line-height: 1.7;
}

.txt2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #999999;
  line-height: 1.7;
}

.bo1 {
  border-bottom: 1px solid #999999;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 58px;
  background-image: linear-gradient(rgb(160, 160, 160),rgb(206, 206, 206), rgb(255, 255, 255));
}


.wrap-login100 {
  width: 680px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  position: relative;
  box-shadow: 15px 15px 4px 2px rgba(12, 12, 12, 0.2);
}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 39px;
  color: #333333;
  line-height: 1.5;
  text-align: center;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.btn-google::before,
.btn-face::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #ad65ec;
  opacity: 0;
  transition: all 0.4s;
}

.btn-face {
  color: #fff;
  background-color: #3b5998;
}

.btn-face i {
  font-size: 30px;
  margin-right: 16px;
  padding-bottom: 3px;
}

.btn-google {
  color: #555555;
  background-color: #fff;
}

.btn-google img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
}

.btn-face:hover:before,
.btn-google:hover:before {
  opacity: 1;
}

.btn-face:hover,
.btn-google:hover {
  color: #fff;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
}


/*---------------------------------------------*/
.input100 {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 60px;
  padding: 0 20px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border-bottom: 1px solid #fc00ff;
  border-radius: 50px;

  visibility: hidden;
  opacity: 0;

  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #333333;
  border-radius: 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #a64bf4;
  opacity: 0;

  transition: all 0.4s;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

.p-t-13 {padding-top: 13px;}

.p-t-31 {padding-top: 31px;}

.p-t-55 {padding-top: 55px;}

.p-t-62 {padding-top: 62px;}

.p-l-110 {padding-left: 110px;}

.p-r-110 {padding-right: 110px;}

.p-b-33 {padding-bottom: 33px;}

.p-b-53 {padding-bottom: 53px;}

.m-b-20 {margin-bottom: 20px;}

.p-b-9 {padding-bottom: 9px;}

.m-l-5 {margin-left: 5px;}

.m-t-17 {margin-top: 17px;}

.w-full {width: 100%;}

.text-center {text-align: center;}

.flex-sb {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
}

.flex-w {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}


/*[ Responsive ]*/
@media (max-width: 768px) {
  .wrap-login100 {
    padding-left: 60px;
    padding-right: 60px;
  }

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-face,
  .btn-google {
    width: 100%;
  }
}